
.fundo {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.header{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.limete{
   width: 80%; 
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.title{
    font-size: 25px;
    margin-left: 2px;
}

.link{
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    margin-right: 2px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.img{
    width: 100px;
    height: 100px;
}

.principal{

  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.caixaTxt{
    width: 500px;
    text-align: center;
}

.txt{
    font-size: 35px;
    font-weight: bolder;
}

.caixaSpan{
    display: flex;
    gap: 15px;
}

.span{
    background-color: white;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width: 150px;
    text-align: center;

}